@charset "utf-8";
/* CSS Document */

body {
	width: 100%;
	height: auto;
	position:relative;
	float:none;
	margin-left:auto;
	margin-right:auto;
	background-color:#FC9;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom:0px;
	margin-top:40px;
}
#main{
	background-color: #666;
}
#banner {
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:100px;
	background-color:#333;
	clear:both;
	margin-top:-40px;
}
#banner p{
	text-align:center;
	color:#FFFFFF;
	font-size:24px;
	padding-top: 30px;
}
.argazkiak {
	position:relative;
	float:none;
	width:370px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top: 40px;
}
.datuak {
	position:relative;
	float:none;
	margin-left:auto;
	margin-right: 30px;
	height:300px;
	width:150px;
	display:inline;
	text-align:center;
}
.oina {
	position:relative;
	float:none;
	height:auto;
	width:auto;
	color:#000;
	margin-left:20px;
	margin-right:20px;
	display:inline;
	padding-top:20px;
}
.datuak img {
	width:auto;
	height:auto;
}
.atzera {
	position:relative;
	float:none;
	margin-right:auto;
	margin-left:auto;
	width:600px;
	margin-top:50px;
}
.atzera a {
	text-decoration:none;
	float: right;
	color: #A01C1A;
	text-transform:none;
	margin-right: 60px;
	margin-bottom: 60px;
	font-weight:bold;
	text-align:center;
}
.atzera a:hover {
	text-decoration:underline;
}
.edukiera {
	position:relative;
	float:none;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:auto;
}
textarea {
    resize: none;
}
#taula {
	-webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
	border-radius: 10px 10px;
	padding:20px;
	border:1px solid #666;
	margin-top:40px;
	background-color:#ddd;
	margin-right:100px;
}
#taula td {
	padding-left:20px;
	padding-right:20px;
}
#taula th {
	background-color:#333;
	border:1px solid #151515;
	color:#FFF;
	-webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
	border-radius: 10px 10px;
	padding:20px;
	font-size:20px;
}
#bannerOina {
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:100px;
	background-color:#000;
	clear:both;
}
.form {
	background-color:#ddd;
	border:1px solid #666;
	color:#151515;
	-webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
	border-radius: 10px 10px;
	padding-left:30px;
	padding-right:30px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom:30px;
}

h1{
	font-size:20px;
	font-family: Arial, Helvetica, sans-serif;
	color:#151515;
}
#bidali{
	width: 100px;
	padding:10px;
}
input {
	padding: 5px;
	width: 300px;
	margin-top: 5px;
}
select {
	padding: 5px;
	width: 300px;
	margin-top: 5px;
}
#check {
	padding: 5px;
	width: 50px;
	margin-top: 5px;
}
.go {
	width: 100px;
	padding:10px;
	padding-left:30px;
	padding-right:30px;
	margin-top:50px;
	background-color:#333;
	border:1px solid #333;
	color:#FFF;
	-webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
	border-radius: 10px 10px;
	text-align:center;
	display:inline;
	margin-right:20px;
	
}
.go a {
	font-size:16px;
	font-weight:100px;
	text-decoration: none;
	text-transform: none;	
	color:#FFF;
}
.go a:hover{
	text-decoration: underline;
	text-transform: none;	
}
.go a:visited{
	text-decoration: none;
	text-transform: none;
}
a {
	font-size:16px;
	text-decoration: none;
	text-transform: none;	
	color:#000;
}
a:hover{
	text-decoration: underline;
	text-transform: none;	
}
a:visited{
	text-decoration: none;
	text-transform: none;
}
tr #erregistroa{
	background-color:#999;
	color:#000;
	font-size:14px;
	padding:20px;
	border-left:1px solid #666;
	border-bottom:1px solid #666;
	border-top:1px solid #666;

}
tr #erregistroa1{
	background-color:#999;
	color:#000;
	font-size:14px;
	padding:20px;
	border:1px solid #666;

}
#taula1 {
	-webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
	border-radius: 10px 10px;
	padding:20px;
	border:1px solid #666;
	margin-top:40px;
	background-color:#ddd;
	margin-left:100px;
	margin-right:100px;
	border-spacing:0px;
	font-size:12px;
}
#taula1 tr {
	border:1px solid #666;
	border-spacing:0px;
}
#taula1 td {
	border-left:1px solid #666;
	border-bottom:1px solid #666;
	border-spacing:0px;
	padding:10px;
}
#taula1 #tde {
	border-right:1px solid #666;
	border-spacing:0px;
	padding:10px;
}
#taula1 #zuzendu {
	border:none;
}
h2 {
	background-color:#600;
	color:#FFF;
	padding-bottom:20px;
	padding-top:20px;
	-webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
	border-radius: 10px 10px;
	font-weight:100;
}
#celda {
	margin-top:3px;
	margin-bottom:5px;
	padding:7px;
	background-color:#333;
	color:#FFFFFF;
	-webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
	border-radius: 10px 10px;
	width:170px;
}

#celda a {
	color:#FFFFFF;
}
#a{
	font-size:12px;
}